* {
    box-sizing: border-box;
}
.bck{
    background-image: url(./Images/wp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding: 10px;
}
img {
    width: 100px;
    height: auto;
}

.header {
    background-color: rgba(255, 255, 255, 0.504);
    -webkit-box-shadow: 0px 0px 22px 20px rgba(0,0,0,0.53); 
    box-shadow: 0px 0px 22px 20px rgba(0,0,0,0.53);
    background-blend-mode: lighten;
    padding: 20px 20px 60px 20px;
    width: auto;
    margin: 10px 200px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-bar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

#main-img {
    width: auto;
    height: 300px;
    border: 3px inset rgba(43, 169, 252, 0.43);
    flex-wrap: wrap;
}

.header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

h1 {
    font-size: 48px;
    font-weight: 1000px;
    color: rgb(49, 49, 49);
    margin-top: 0px;
}

h3 {
    font-size: 19px;
    color: hwb(208 29% 65%);
    letter-spacing: 0.6px;
}

#pic-des {
    font-size: 10px;
    color: #6f6f6f;
}

.Intro {
    width: 400px;
}

.Menu {
    display: flex;
    gap: 30px;
    height: 40px;
    margin-top: 20px;
}

.button-15 {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-15:disabled {
    cursor: default;
    opacity: .3;
}

.button-15:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.button-15:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}

.button-29 {
    margin-top: 15px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 42px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 16px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

#but {
    margin-top: 5px;
}
.sec-con{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#rd {
    font-size: 40px;
    color: #ffffff;
    width: 500px;
    margin: 80px auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 1000;
    flex: 1;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
}
.stitles {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: 500px;
    color: white;
    letter-spacing: 1px;
}

.quote-div{
    background-color: rgba(160, 208, 251, 0.843);
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 83, 142, 0.53); 
    box-shadow: 0px 0px 22px 5px rgba(0, 51, 106, 0.53);
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    font-family: cursive;
    font-weight: 1000px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.quote-p {
    font-size: 22px;
    font-family: cursive;
    align-self: center;
    margin: 0;
    margin-bottom: 20px;
    color: black;
}
.footer{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    background-color: rgb(47, 227, 255);
    background-image: linear-gradient(#56a8ff, #4597da);
    width: 900px;
    border-radius: 15px 15px 15px 15px;
    -webkit-box-shadow: 0px 0px 22px 5px rgba(0, 83, 142, 0.53); 
    box-shadow: 0px 0px 22px 5px rgba(0, 51, 106, 0.53);
}
.footer-t{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-t1 {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: white;
    font-weight: 550;

}
.footer-t2 {
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-style: italic;
    color: white;
}